In [115]:
 %pylab
import pandas as pd, numpy as np, matplotlib.pyplot as plt
from sklearn.cluster import DBSCAN
from geopy.distance import great_circle
from shapely.geometry import MultiPoint
from sklearn import metrics
from sklearn.metrics import silhouette_score

Using matplotlib backend: Qt5Agg
Populating the interactive namespace from numpy and matplotlib

In [2]:

from sklearn.decomposition import PCA

In [3]:
df = pd.read_csv("C:\\Users\\knaren1x\\OneDrive - Intel Corporation\\Documents\\Dvr\\dataset\\KA51ME7196\\Trip_13-9thsept-08_30-10_00\\1latnlng.csv")
display(df)

df[['latitude','longitude']]
#display(df)
#dd =pd.read_csv("C:\\Users\\knaren1x\\OneDrive - Intel Corporation\\Documents\\Dvr\\dataset\\KA51ME7196\\Trip_13-9thsept-08_30-10_00\\sample.csv")
#coords1 = dd.as_matrix(columns=['latitude', 'longitude'])
#display(dd)


#coords = df.to_numpy()(columns=['latitude', 'longitude'])

     Unnamed: 0   latitude  longitude
0             0  10.913417  75.919083
1             1  10.916287  75.918402
2             2  10.917793  75.918148
3             3  10.920293  75.916692
4             4  10.920803  75.916032
..          ...        ...        ...
102         102  11.230440  75.790052
103         103  11.232788  75.789367
104         104  11.234640  75.789085
105         105  11.263832  75.777360
106         106  11.281508  75.772237

[107 rows x 3 columns]

      latitude  longitude
0    10.913417  75.919083
1    10.916287  75.918402
2    10.917793  75.918148
3    10.920293  75.916692
4    10.920803  75.916032
..         ...        ...
102  11.230440  75.790052
103  11.232788  75.789367
104  11.234640  75.789085
105  11.263832  75.777360
106  11.281508  75.772237

[107 rows x 2 columns]

In [4]:
coords= df[['latitude','longitude']].copy()
display(coords)

      latitude  longitude
0    10.913417  75.919083
1    10.916287  75.918402
2    10.917793  75.918148
3    10.920293  75.916692
4    10.920803  75.916032
..         ...        ...
102  11.230440  75.790052
103  11.232788  75.789367
104  11.234640  75.789085
105  11.263832  75.777360
106  11.281508  75.772237

[107 rows x 2 columns]

In [5]:
#kms_per_radian = 6371.0088
#epsilon = 1 / kms_per_radian
#db = DBSCAN(eps=epsilon, min_samples=1, algorithm='ball_tree', metric='haversine').fit(np.radians(coords))

In [112]:
mts_per_radian = 6371.0088*1000
#epsilon = 1 / kms_per_radian
epsilon = 1800 / mts_per_radian # distance in mts, range for clustering lat-lng range
db = DBSCAN(eps=epsilon, min_samples=1, algorithm='ball_tree', metric='haversine').fit(np.radians(coords))

In [ ]:
cluster_labels = db.labels_

In [116]:
silhouette_score(coords,cluster_labels)

0.31080323828564493

In [113]:

display(cluster_labels)
num_clusters = len(set(cluster_labels))
print(num_clusters)
clusters = pd.Series([coords[cluster_labels == n] for n in range(num_clusters)])

    
#display(clusters)

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 2, 0, 3, 3, 3, 3, 3, 3, 3, 3, 3,
       3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 4, 5],
      dtype=int64)

6

In [114]:

silhouette_score(coords,cluster_labels)

0.31080323828564493

In [77]:
core_samples = np.zeros_like(cluster_labels, dtype=bool)
core_samples[db.core_sample_indices_] = True
#print(core_samples)

In [57]:
n_clusters = len(set(cluster_labels)) - (1 if -1 in cluster_labels else 0)
print(n_clusters)

9

In [58]:
print(clusters)
clusters.to_csv("C:\\Users\\knaren1x\\OneDrive - Intel Corporation\\Documents\\Dvr\\dataset\\KA51ME7196\\Trip_13-9thsept-08_30-10_00\\ttlatnlng.csv")
#print('Number of clusters: {}'.format(num_clusters))

0         latitude  longitude
0   10.913417  75.919...
1         latitude  longitude
48  11.051037  75.856...
2         latitude  longitude
71  11.129905  75.823...
3         latitude  longitude
77  11.154168  75.812578
4         latitude  longitude
79  11.169728  75.818...
5         latitude  longitude
85  11.189505  75.829...
6          latitude  longitude
100  11.220218  75.7...
7          latitude  longitude
105  11.263832   75....
8          latitude  longitude
106  11.281508  75.7...
dtype: object

0.5350285838444636

In [ ]:
#fig.ax = plt.subplots(figsize(6,6))
#ax.scatter( coords,c=cluster_labels_)
#fig.show()

In [ ]:
def get_centermost_point(cluster):
    
    centroid = (MultiPoint(cluster).centroid.x, MultiPoint(cluster).centroid.y)
    #centermost_point = min(cluster, key=lambda point: great_circle(point, centroid).m)
    #return tuple(centermost_point)
    return centroid
#centermost_points = clusters.map(get_centermost_point)

In [ ]:
rs = rep_points.apply(lambda row: df[(df['latitude']==row['latitude']) &(df['longitude']==row['longitude'])].iloc[0], axis=1)